
# BASIC SETUP CREDENTIALS
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
DATABASE_URL=
DEBUG=
SECRET_KEY=

# YOUTUBE CREDENTIALS
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=

# X DEMO CREDENTIALS
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=

# PINTEREST DEMO CREDENTIALS
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=
PINTEREST_REDIRECT_URI=

# LINKEDIN CREDENTIALS
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

# REDIS URL
REDIS_URL=
